{% extends 'base.html' %} {% load static %} {% block content %}



<div class="screen-overlay">
</div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="{% url 'admin_home' %}" class="brand-wrap">

            <h1>COSMIC</h1>
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="{% url 'admin_home' %}"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>



            <li class="menu-item">
                <a class="menu-link" href="{% url 'adminuserslist' %}"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>
            </li>



            <li class="menu-item active">
              <a class="menu-link" href="{% url 'productslist' %}"> <i
                  class="icon material-icons md-shopping_bag"></i>
                  <span class="text"> Products </span>
              </a>
          </li>


            <li class="menu-item">
                <a class="menu-link" href="{% url 'adminorder' %}"> <i class="icon material-icons md-person"></i>
                    <span class="text"> Orders </span>
                </a>
            </li>


            <li class="menu-item">
                <a class="menu-link" href="{% url 'category_management' %}"> <i
                        class="icon material-icons md-person"></i>
                    <span class="text"> Category management </span>
                </a>
            </li>

            

            <li class="menu-item">
                <a class="menu-link" href="{% url 'adminsale' %}"> <i class="icon material-icons md-person"></i>
                    <span class="text"> Sales Report </span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="{% url 'offer_management' %}"> <i
                        class="icon material-icons md-person"></i>
                    <span class="text"> offer management </span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="{% url 'coupon_manage' %}"> <i
                        class="icon material-icons md-person"></i>
                    <span class="text"> coupon management </span>
                </a>
            </li>
        </ul>
        <hr>
        <ul class="menu-aside">
            <!-- <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
                <div class="submenu">
                    <a href="html/evara/evara-backend/page-settings-1.html">Setting sample 1</a>
                    <a href="html/evara/evara-backend/page-settings-2.html">Setting sample 2</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="html/evara/evara-backend/page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                    <span class="text"> Starter page </span>
                </a> -->
            </li>
        </ul>
        <br>
        <br>
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
           
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                    class="material-icons md-apps"></i> </button>
            <ul class="nav">
                <li  class="nav-item" > <a href="{% url 'adminlogout' %}">  logout  </a> </li>
            </ul>
        </div>
    </header>
    <h1 style="text-align: center; font-size: large; margin-top: 2%; " >  Product </h1>
    <section class="content-main">
        
        <div class="card mb-4">
            <header class="card-header">
                
            </header>
            <!-- card-header end// -->
            <div class="card-body" style="overflow:auto">
                <div class="addproduct d-flex" style="height: 600px; width: 900px; ">
                    <div class="ms-2 mt-2 col-md-4" style="padding-top: 50px;">
                        <!-- <img src="static/assets/imgs/items/5.jpg" alt="" style="height: 300px; width: 300px;" > -->

                        {% for msg in messages %}
                        <h1 class="text-success p-3" style="background-color: lightgreen
                           ; ">{{msg}}</h1>
                        {% endfor %}
                    </div>
                    <div class=" col-md-7" style="background-color: white; height: 800px; margin-top: 1px;">
                        <form class="pt-5" method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">{{ form.label }}</label>
                                <div class="col-sm-10">
                                    <span class="text-dark">{{ form }}</span>
                                </div>
                            </div>

                            <button type="submit" id="confirm-btn" class="submit btn btn-success"> submit </button>

                        </form>

                        <div class="col-md-8">
                            <div class="form-group">
                                <div id="image-box" class="image-container"></div>
                                <button class="btn btn-outline-info " id="crop-btn" style=" margin-top: 10px; display: none;"
                                    type="button">Crop</button>
                                    <!-- <button class="btn btn-outline-info" id="confirm-btn" style=" margin-top: 10px; "
                                        type="button">Confirm</button> -->
                                    </div>
                        
                        </div>

                        
                        <img src="" id="image_1" style="width:200px;" > 
                        <img src="" id="image_2" style="width:200px;">
                        <img src="" id="image_3" style="width:200px;">
                        <img src="" id="image_4" style="width:200px;">
                    </div>

                </div>

            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i
                                class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section>
   
    <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
</main>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



<script>
    var invalidChars = ["-", "+", "e"];
    var invalidformat = [".png", ".webp", ".jpg"];

    document.getElementById('price').addEventListener("keydown", function (e) {
        if (invalidChars.includes(e.key)) {
            e.preventDefault();
        }
    });
    document.getElementById('stock').addEventListener("keydown", function (e) {
        if (invalidChars.includes(e.key)) {
            e.preventDefault();
        }
    });
</script>


<script>
const imagebox = document.getElementById("image-box");
console.log('atleas here')
// crop-btn is the id of button that will trigger the event of change original file with cropped file.
const crop_btn = document.getElementById("crop-btn");
console.log('button avut')
// id_image is the id of the input tag where we will upload the image
const input1 = document.getElementById("image1");
console.log('image1 is here',input1)
var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;

var filePath = input1.value;

// When user uploads the image this event will get triggered
input1.addEventListener("change", () => {
  if (!allowedExtensions.exec(input1.value)) {
    alert("Invalid file type");
    input1.value = "";
  } else {
    // Getting image file object from the input variable
    const img_data = input1.files[0];
    // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
    // The new object URL represents the specified File object or Blob object.
    const url = URL.createObjectURL(img_data);

    // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
    imagebox.innerHTML = `<img src="${url}" id="imaged1" style="width:100%;">`;

    // Storing that cropping view image in a variable
    const image = document.getElementById("imaged1");

    // Displaying the image box
    document.getElementById("image-box").style.display = "block";
    // Displaying the Crop buttton
    document.getElementById("crop-btn").style.display = "block";
    // Hiding the Post button
    document.getElementById("confirm-btn").style.display = "none";

    // Creating a croper object with the cropping view image
    // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
    // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
    const cropper = new Cropper(image, {
      autoCropArea: 1,
      viewMode: 1,
      scalable: false,
      zoomable: false,
      movable: false,
      aspectRatio: 1 / 1,
      //  preview: '.preview',
      minCropBoxWidth: 200,
      minCropBoxHeight: 200,
    });

    // When crop button is clicked this event will get triggered
    crop_btn.addEventListener("click", () => {
      // This method coverts the selected cropped image on the cropper canvas into a blob object
      cropper.getCroppedCanvas().toBlob((blob) => {
        // Gets the original image data
        let fileInputElement = document.getElementById("image1");
        // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
        let file = new File([blob], img_data.name, {
          type: "image/*",
          lastModified: new Date().getTime(),
        });
        // Create a new container
        let container = new DataTransfer();
        // Add the cropped image file to the container
        container.items.add(file);
        // Replace the original image file with the new cropped image file
        fileInputElement.files = container.files;
        console.log(container.files[0]);
        let img = container.files[0];
        const url = URL.createObjectURL(img);
        document.getElementById("image_1").src = url

        console.log(url);
        // Hide the cropper box
        document.getElementById("image-box").style.display = "none";
        // Hide the crop button
        document.getElementById("crop-btn").style.display = "none";
        // Display the Post button
        document.getElementById("confirm-btn").style.display = "block";
      });
    });
  }
});

//image 2

const input2 = document.getElementById("image2");
var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;

console.log(input2);
var filePath1 = input2.value;

// When user uploads the image this event will get triggered
input2.addEventListener("change", () => {
  if (!allowedExtensions.exec(input2.value)) {
    alert("Invalid file type");
    input2.value = "";
  } else {
    // Getting image file object from the input variable
    const img_data = input2.files[0];
    // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
    // The new object URL represents the specified File object or Blob object.
    const url = URL.createObjectURL(img_data);

    // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
    imagebox.innerHTML = `<img src="${url}" id="imaged2" style="width:100%;">`;

    // Storing that cropping view image in a variable
    const image = document.getElementById("imaged2");

    // Displaying the image box
    document.getElementById("image-box").style.display = "block";
    // Displaying the Crop buttton
    document.getElementById("crop-btn").style.display = "block";
    // Hiding the Post button
    document.getElementById("confirm-btn").style.display = "none";

    // Creating a croper object with the cropping view image
    // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
    // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
    const cropper = new Cropper(image, {
      autoCropArea: 1,
      viewMode: 1,
      scalable: false,
      zoomable: false,
      movable: false,
      aspectRatio: 1 / 1,
      //  preview: '.preview',
      minCropBoxWidth: 200,
      minCropBoxHeight: 200,
    });

    // When crop button is clicked this event will get triggered
    crop_btn.addEventListener("click", () => {
      // This method coverts the selected cropped image on the cropper canvas into a blob object
      cropper.getCroppedCanvas().toBlob((blob) => {
        // Gets the original image data
        let fileInputElement = document.getElementById("image2");
        // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
        let file = new File([blob], img_data.name, {
          type: "image/*",
          lastModified: new Date().getTime(),
        });
        // Create a new container
        let container = new DataTransfer();
        // Add the cropped image file to the container
        container.items.add(file);
        // Replace the original image file with the new cropped image file
        fileInputElement.files = container.files;
        console.log(container.files[0]);
        let img = container.files[0];
        const url = URL.createObjectURL(img);
        document.getElementById("image_2").src = url;

        // Hide the cropper box
        document.getElementById("image-box").style.display = "none";
        // Hide the crop button
        document.getElementById("crop-btn").style.display = "none";
        // Display the Post button
        document.getElementById("confirm-btn").style.display = "block";
      });
    });
  }
});

// image 3

const input3 = document.getElementById("image3");
var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;

console.log(input3);
var filePath1 = input3.value;

// When user uploads the image this event will get triggered
input3.addEventListener("change", () => {
  if (!allowedExtensions.exec(input3.value)) {
    alert("Invalid file type");
    input3.value = "";
  } else {
    // Getting image file object from the input variable
    const img_data = input3.files[0];
    // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
    // The new object URL represents the specified File object or Blob object.
    const url = URL.createObjectURL(img_data);

    // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
    imagebox.innerHTML = `<img src="${url}" id="imaged3" style="width:100%;">`;

    // Storing that cropping view image in a variable
    const image = document.getElementById("imaged3");

    // Displaying the image box
    document.getElementById("image-box").style.display = "block";
    // Displaying the Crop buttton
    document.getElementById("crop-btn").style.display = "block";
    // Hiding the Post button
    document.getElementById("confirm-btn").style.display = "none";


    // Creating a croper object with the cropping view image
    // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
    // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
    const cropper = new Cropper(image, {
      autoCropArea: 1,
      viewMode: 1,
      scalable: false,
      zoomable: false,
      movable: false,
      aspectRatio: 1 / 1,
      //  preview: '.preview',
      minCropBoxWidth: 200,
      minCropBoxHeight: 200,
    });

    // When crop button is clicked this event will get triggered
    crop_btn.addEventListener("click", () => {
      // This method coverts the selected cropped image on the cropper canvas into a blob object
      cropper.getCroppedCanvas().toBlob((blob) => {
        // Gets the original image data
        let fileInputElement = document.getElementById("image3");
        // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
        let file = new File([blob], img_data.name, {
          type: "image/*",
          lastModified: new Date().getTime(),
        });
        // Create a new container
        let container = new DataTransfer();
        // Add the cropped image file to the container
        container.items.add(file);
        // Replace the original image file with the new cropped image file
        fileInputElement.files = container.files;
        console.log(container.files[0]);
        let img = container.files[0];
        const url = URL.createObjectURL(img);
        document.getElementById("image_3").src = url;

        // Hide the cropper box
        document.getElementById("image-box").style.display = "none";
        // Hide the crop button
        document.getElementById("crop-btn").style.display = "none";
        // Display the Post button
        document.getElementById("confirm-btn").style.display = "block";
      });
    });
  }
});

//image 4

const input4 = document.getElementById("image4");
var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;

console.log(input4);
var filePath1 = input4.value;

// When user uploads the image this event will get triggered
input4.addEventListener("change", () => {
  if (!allowedExtensions.exec(input4.value)) {
    alert("Invalid file type");
    input4.value = "";
  } else {
    // Getting image file object from the input variable
    const img_data = input4.files[0];
    // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
    // The new object URL represents the specified File object or Blob object.
    const url = URL.createObjectURL(img_data);

    // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
    imagebox.innerHTML = `<img src="${url}" id="imaged4" style="width:100%;">`;

    // Storing that cropping view image in a variable
    const image = document.getElementById("imaged4");

    // Displaying the image box
    document.getElementById("image-box").style.display = "block";
    // Displaying the Crop buttton
    document.getElementById("crop-btn").style.display = "block";
    // Hiding the Post button
    document.getElementById("confirm-btn").style.display = "none";

    // Creating a croper object with the cropping view image
    // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
    // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
    const cropper = new Cropper(image, {
      autoCropArea: 1,
      viewMode: 1,
      scalable: false,
      zoomable: false,
      movable: false,
      aspectRatio: 1 / 1,
      //  preview: '.preview',
      minCropBoxWidth: 200,
      minCropBoxHeight: 200,
    });

    // When crop button is clicked this event will get triggered
    crop_btn.addEventListener("click", () => {
      // This method coverts the selected cropped image on the cropper canvas into a blob object
      cropper.getCroppedCanvas().toBlob((blob) => {
        // Gets the original image data
        let fileInputElement = document.getElementById("image4");
        // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
        let file = new File([blob], img_data.name, {
          type: "image/*",
          lastModified: new Date().getTime(),
        });
        // Create a new container
        let container = new DataTransfer();
        // Add the cropped image file to the container
        container.items.add(file);
        // Replace the original image file with the new cropped image file
        fileInputElement.files = container.files;
        console.log(container.files[0]);
        let img = container.files[0];
        const url = URL.createObjectURL(img);
        document.getElementById("image_4").src = url;

        // Hide the cropper box
        document.getElementById("image-box").style.display = "none";
        // Hide the crop button
        document.getElementById("crop-btn").style.display = "none";
        // Display the Post button
        document.getElementById("confirm-btn").style.display = "block";
      });
    });
  }
});
</script>

<!--preview below-->

<!-- <script>
    $(document).ready(function () {
      $('<center><img src="" id="image1" style="max-width:300px;"></center>').insertAfter("input[type=file][id=id_images1]")
      $('<center><img src="" id="image2" style="max-width:300px;"></center>').insertAfter("input[type=file][id=id_images2]")
      $('<center><img src="" id="image3" style="max-width:300px;"></center>').insertAfter("input[type=file][id=id_images3]")
    })
  </script> -->


{%endblock %}