{% extends 'base.html' %} {% load static %} {% block content %}

<div class="screen-overlay">
</div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="{% url 'admin_home' %}" class="brand-wrap">

            <h1>COSMIC</h1>
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="{% url 'admin_home' %}"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>



            <li class="menu-item">
                <a class="menu-link" href="{% url 'adminuserslist' %}"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>
            </li>



            <li class="menu-item active">
                <a class="menu-link" href="{% url 'productslist' %}"> <i
                    class="icon material-icons md-shopping_bag"></i>
                    <span class="text"> Products </span>
                </a>
            </li>


            <li class="menu-item">
                <a class="menu-link" href="{% url 'adminorder' %}"> <i class="icon material-icons md-person"></i>
                    <span class="text"> Orders </span>
                </a>
            </li>


            <li class="menu-item">
                <a class="menu-link" href="{% url 'category_management' %}"> <i
                        class="icon material-icons md-person"></i>
                    <span class="text"> Category management </span>
                </a>
            </li>



            <li class="menu-item">
                <a class="menu-link" href="{% url 'adminsale' %}"> <i class="icon material-icons md-person"></i>
                    <span class="text"> Sales Report </span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="{% url 'offer_management' %}"> <i class="icon material-icons md-person"></i>
                    <span class="text"> offer management </span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="{% url 'coupon_manage' %}"> <i class="icon material-icons md-person"></i>
                    <span class="text"> coupon management </span>
                </a>
            </li>


        </ul>
        <hr>
       
        <br>
        <br>
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <!-- <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
            </form> -->
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
            <ul class="nav ">

                
                <li> <a href="{% url 'adminlogout' %}"> logout </a> </li>
            </ul>
        </div>
    </header>

    <h1 style="text-align: center; font-size: large; margin-top: 2%; " > Product List </h1>


    <section class="content-main">
        
        <div class="card mb-4">
            <!-- <header class="card-header">
                <div class="row align-items-center">
                    <div class="col col-check flex-grow-0">
                        <div class="form-check ms-2">
                            <input class="form-check-input" type="checkbox" value="">
                        </div>
                    </div>
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                        <select class="form-select">
                                <option selected>All category</option>
                                <option>Electronics</option>
                                <option>Clothes</option>
                                <option>Automobile</option>
                            </select>
                    </div>
                    <div class="col-md-2 col-6">
                        <input type="date" value="02.05.2021" class="form-control">
                    </div>
                    <div class="col-md-2 col-6">
                        <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                    </div>
                </div>
            </header> -->
            <!-- card-header end// -->
            <div class="card-body">

               
                <a href="{% url 'addproduct' %}" class="btn btn-primary btn-sm rounded m-5 " > Add New Product  </a>  
                
                <div class="col d-flex my-3 " >
                    <div class="col-2" style="font-size: large;"> <h4> Procuct Name </h4> </div>
                    <div class="col-1" style="margin-left: 110px; font-size: large; " > <h4> Brand </h4> </div>
                    <div class="col-1" style="margin-left: 60px; font-size: large; " > <h4> RAM </h4> </div>
                    <div class="col-2" style="margin-left: 40px; font-size: large; " > <h4> Storage </h4> </div>
                    <div class="col-2" style="margin-left: 1px; font-size: large; " > <h4>  Price </h4> </div>
                </div>
                
                {% for item in product %}
                <article class="itemlist">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-2 flex-grow-1 col-name">
                            <a class="itemside" href="#">
                                <div class="left">
                                    <img src="{{ item.image1.url }}" class="img-sm img-thumbnail" alt="Item">
                                </div>
                                <div class="info">
                                    <h6 class="mb-0"> {{ item.name }} </h6>
                                    
                                </div>
                            </a>
                        </div>
                        <div class="col-1 me-5"> {{ item.brand }} </div>
                        <div class="col-1 me-5"> {{ item.RAM }} </div>
                        <div class="col-1 me-5"> {{ item.storage }} </div>

                        
                        <div class="col-lg-2 col-sm-2 col-4 col-price  ps-5"> <div > stock(<span >{{ item.stock }}  </span>)  </div> <span > ₹ {{ item.price }}  </span>     </div>
                        <!-- <div class="col-lg-2 col-sm-2 col-4 col-status">
                                <span class="badge rounded-pill alert-success">Active</span>
                            </div> -->
                        <!-- <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span>02.11.2021</span>
                        </div> -->
                        <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                            <a  href="{% url 'product_edit' item.id %}" class="btn btn-sm font-sm rounded btn-brand "  >
                                <i class="material-icons md-edit"></i> Edit
                            </a>
                            <a   href="{% url 'delete_product' item.id %}" class="btn btn-sm font-sm btn-light rounded confirm-delete" onclick="return two(this,event)">
                                <i class="material-icons md-delete_forever"></i>  Delete
                            </a>
                        </div>
                    </div>
                    <!-- row .// -->
                </article>
                {% endfor  %}
                <!-- itemlist  .// -->






            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
        <div class="pagination-area mt-30 mb-50">
            <!-- <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav> -->
        </div>
    </section>
    <!-- content-main end// -->


<nav class="my-4 justify-content-center" aria-label="Page navigation sample">
                    {% if product.has_other_pages %}
                    <ul class="pagination mx-auto justify-content-center ">
                        {% if product.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page-{{product.previous_page_number}}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}
                        {% for i in product.paginator.page_range %}
                        {% if product.number == i %}
                        <li class="page-item active"><a class="page-link" href="">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if product.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{product.next_page_number}}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>
                <br><br><br>

    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>




<script>
    function two(url,e) {
        e.preventDefault()
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this  file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
        
            window.location.href= url.href
         

            } else {
              swal("Your file is safe!");
            }
          });
}
</script>



<script src="../../../html/evara/evara-backend/assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="../../../html/evara/evara-backend/assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="../../../html/evara/evara-backend/assets/js/vendors/select2.min.js"></script>
<script src="../../../html/evara/evara-backend/assets/js/vendors/perfect-scrollbar.js"></script>
<script src="../../../html/evara/evara-backend/assets/js/vendors/jquery.fullscreen.min.js"></script>
<!-- Main Script -->
<script src="../../../html/evara/evara-backend/assets/js/main.js" type="text/javascript"></script>





{%endblock %}