
{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/xzoom/dist/xzoom.css">



  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="top_nav_container">
            <div class="contact_nav">
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call : +01 123455678990
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  Email : django@gmail.com
                </span>
              </a>
            </div>
            <from class="search_form">
              <input type="text" class="form-control" placeholder="Search here...">
              <button class="" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </from>
            <div class="user_option_box">
              <a href="{% url 'logout' %}" class="account-link">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>
                  logout
                </span>
              </a>
              <a href="" class="cart-link">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>
                  Cart
                </span>
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'cosmic' %}">
              <span>
                COSMICS
              </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'cosmic' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                  <!-- <a class="nav-link" href="testimonial.html">Testimonial</a> -->
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->

  <!---- <div class="col-md-12 " style="height: 600px; background-color: grey;">
        <div class="card-body">
            <div class="addproduct d-flex" style="background-color: grey; height: 500px; width: 900px; ">
                <div class="ms-2 mt-2 col-md-6" style="padding-top: 10px;padding-left: 100px; " >
                     <!-- <img id="preview" src="{{ product.image1.url }}" alt="" style="height: 300px; width: 300px;" > -->
                     <!-- <img class="xzoom" src="{{ product.image1.url }}" xoriginal="{{ product.image1.url }}" />

                     <div class="xzoom-thumbs">
                       <a href="{{ product.image1.url }}">
                         <img class="xzoom-gallery" width="80" src="{{ product.image1.url }}"  xpreview="path/to/preview_image_01.jpg">
                       </a>
                       <a href="{{ product.image1.url }}">
                         <img class="xzoom-gallery" width="80" src="{{ product.image1.url }}">
                       </a>
                       <a href="{{ product.image1.url }}">
                         <img class="xzoom-gallery" width="80" src="{{ product.image1.url }}">
                       </a>
                       <a href="{{ product.image1.url }}">
                         <img class="xzoom-gallery" width="80" src="{{ product.image1.url }}">
                       </a>
                     </div> -->






                     <!--aju code-->

                     <!-- banner -->
 <div class="banner_top innerpage" id="home">
  <div class="wrapper_top_w3layouts">
     <div class="header_agileits">
      
    </div>
  </div>
  
  <!-- //search -->
  <div class="clearfix"></div> 
  <!-- /banner_inner -->

  <!-- //banner_inner -->
</div>


<div class="container">
  <div class="main-body">
      <div class="row gutters-sm">
          <!-- <div class="col-md-4 mb-3">
              <div class="card">
                  <div class="card-body">
                    
                          <div class="mt-3">
                            
                          <button class="btn btn-primary">{{person.username}}</button> 
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card mt-3">
                  <ul class="list-group list-group-flush "style="baground color:red">
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                          <a href="">My Profile</a>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                          <a href="/view-address">Address</a>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                          <a href="/order-status">Orders</a>
                      </li>
                  </ul>
              </div>
          </div> -->
          <div class="col-md-8" style="margin-left: 50px;margin-top: 50px;">
              <div class="card mb-3">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Full Name</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              {{person.username}} 
                          </div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Email</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              {{ person.email }}
                          </div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Mobile</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              {{person.phone}}
                          </div>
                      </div>
                      <hr>

                      <div class="row">
                          <div class="col-sm-12">
                              <a class="btn btn-info" href="{% url 'editprofile' %}">Make any Change</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>



<!-- sreekuttan -->

<div class="col-md-7" style="margin-left: 150px; margin-top: 50px;">
  <div class="card mb-3">
      <div class="card-body">
          <div class="row">
              <div class="col-sm-3">
                  <h6 class="mb-0">Referal id</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                  {{person.ref_id}} 
              </div>
          </div>
          <!-- <hr>
          <div class="row">
              <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                  {{ person.email }}
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-sm-3">
                  <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                  {{person.phone}}
              </div>
          </div>
          <hr> -->

          
      </div>
  </div>
</div>


<!-- sreekuttan -->


                </div>
            </div>
        </div>
    </div>
   




    

      



      </div>  <!--row end-->
     
    </div>   <!--containerend-->
  </section>

  <!-- end product section -->

  <!-- about section -->



  <!-- end about section -->

  <!-- why us section -->

  

  <!-- end why us section -->


  <!-- client section -->
<!-- 
  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          What Says Our Customers
        </h2>
      </div>
    </div>
    <div class="client_container ">
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="box">
                <div class="detail-box">
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </p>
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it lookIt is a
                    long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look
                  </p>
                </div>
                <div class="client-id">
                  <div class="img-box">
                    <img src="images/client.jpg" alt="">
                  </div>
                  <div class="name">
                    <h5>
                      James Dew
                    </h5>
                    <h6>
                      Photographer
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="box">
                <div class="detail-box">
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </p>
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it lookIt is a
                    long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look
                  </p>
                </div>
                <div class="client-id">
                  <div class="img-box">
                    <img src="images/client.jpg" alt="">
                  </div>
                  <div class="name">
                    <h5>
                      James Dew
                    </h5>
                    <h6>
                      Photographer
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="box">
                <div class="detail-box">
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </p>
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it lookIt is a
                    long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look
                  </p>
                </div>
                <div class="client-id">
                  <div class="img-box">
                    <img src="images/client.jpg" alt="">
                  </div>
                  <div class="name">
                    <h5>
                      James Dew
                    </h5>
                    <h6>
                      Photographer
                    </h6>
                  </div>
                </div>
              </div> -->
            <!-- </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
            <span>
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <span>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section> -->
  <!-- end client section -->

  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              <a href="" class="navbar-brand">
                <span>
                  Minics
                </span>
              </a>
            </h5>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Address
            </p>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i>
              +01 1234567890
            </p>
            <p>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              demo@gmail.com
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
              Eligendi sunt, provident, debitis nemo, facilis cupiditate velit libero dolorum aperiam enim nulla iste maxime corrupti ad illo libero minus.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Link
            </h5>
            <ul>
              <li>
                <a href="{% url 'cosmic' %}">
                  Home
                </a>
              </li>
              <li>
                <a href="{% url 'cosmic' %}">
                  About
                </a>
              </li>
              <li>
                <a href="{% url 'cosmic' %}">
                  Products
                </a>
              </li>
              <li>
                <a href="{% url 'cosmic' %}">
                  Why Us
                </a>
              </li>
             
            </ul>
          </div>
        </div>
        <!-- <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="">
                <i class="fab fa-twitter-square"></i>
              </a>
              <a href="">
                
                <i class="fab fa-instagram"></i>
              </a>
              <a href="">
                
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/"> django house </a>
      </p>
    </div>
  </footer>
  <!-- footer section -->


  <style>
    #click-div {
      background-color: #111111;
      color: #fff;
      height: 50px;
      font-weight: 600;
      font-family: inherit;
      padding-top: 15px;
      padding-left: 15px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    #click-div:hover{
      cursor: pointer;
    }
  
  </style>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script src="https://unpkg.com/xzoom/dist/xzoom.min.js"></script>
  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>


  <script>
    $(".xzoom, .xzoom-gallery").xzoom({tint: '#333', Xoffset: 15});
  </script>
 
  
  <script>
   
     
    function myFunction() {

      document.getElementById("sectionSree").classList.toggle("d-none");
    }
 
   
  
</script>

  {% endblock %}
