{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <div class="header_top">
      <div class="container-fluid">
        <div class="top_nav_container">
          <div class="contact_nav">
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +01 123455678990
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                Email : django@gmail.com
              </span>
            </a>
          </div>
          <!-- <form class="search_form">
            <input type="text" class="form-control" placeholder="Search here...">
            <button class="" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form> -->
          <div class="user_option_box">
            <a href="{% url 'logout' %}" class="account-link">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>
                logout
              </span>
            </a>
            <a href="{% url 'user_checkout' %}" class="cart-link">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span>
                Cart
              </span>
            </a>
          </div>
        </div>
  
      </div>
    </div>
    <div class="header_bottom">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'cosmic' %}">
            <span>
              COSMICS
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'cosmic' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#about_section"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#why">Why Us</a>
              </li> -->
              <li class="nav-item">
                <!-- <a class="nav-link" href="testimonial.html">Testimonial</a> -->
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <!--cart section start here-->
  <div class="container my-5 ">
   








    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
    <!-- content -->
    <div class="content container rounded-3">

      <br>
      <div class="row">

        <div class="col-md-12 p-3">
          <div class="row">
            <div class="col-lg-8 col-md-12" id="GFG" >
              <div class="card mb-4">
                <div class="card-body">
                  <div class="mb-5 d-flex align-items-center justify-content-between">
                    <!-- <span>Order No : <a href="#">#{{order.id}}</a></span> -->
                    <!-- <span class="badge bg-success">Completed</span> -->
                  </div>
                  <div class="row mb-5 g-4">
                    <div class="col-md-6 col-sm-6">
                      <p class="fw-bold"> Date Ordered </p>
                      {{ order.date_order }}
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <p class="fw-bold">Name</p>
                      {{ order.user }}
                    </div>
                    <!-- <div class="col-md-3 col-sm-6">
                                    <p class="fw-bold">Email</p>
                                    {{ order.customer.email }}
                                </div> -->
                    <div class="col-md-3 col-sm-6">
                      <p class="fw-bold">Contact Number</p>
                      {{ order.user.phone }}
                    </div>
                  </div>
                  <div class="row g-4">
                    <div class="col-md-4 col-sm-12">
                      <div class="card">
                        <div class="card-body d-flex flex-column gap-3">
                          <div class="d-flex justify-content-between">
                            <h5 class="mb-0">Delivery Address</h5>
                            <!-- <a href="#">Edit</a> -->
                          </div>
                          <div>Type: {{ order.payments.payment_method }}</div>
                          <div> Name: {{ order.address.phone }} {{order.address.lname}}</div>
                          <div> Address: {{ order.address.address }}</div>
                          <div>
                            Phone: {{ order.address.phone }}
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="card widget" id="">   
                <div>
                <h5 class="card-header">Order Items</h5>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-custom mb-0">
                      <thead>
                        <tr>
                          <th>Photo</th>
                          <th>Name</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in items %}
                        <tr>
                          <td>
                            <a href="#">
                              <img src="{{i.product.image1.url}}" class="rounded" width="60" alt="...">
                            </a>
                          </td>
                          <td>{{i.product.name}}</td>
                          <td>{{i.quantity}}</td>
                          <td>{{i.product.price}}</td>
                          <td>{{i.get_total}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                      <div class="me-5 pe-4">Total : ₹{{order.get_cart_total}}</div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              
            </div>
            <div class="col-lg-4 col-md-12 mt-4 mt-lg-0">
              <div class="card mb-4 p-0">
                <div class="card-body">
                  <h6 class="card-title mb-4">Price</h6>
                  <div class="row justify-content-center mb-3">
                    <div class="col-6 text-end">SubTotal :</div>
                    <div class="col-6">₹{{order.get_cart_total}}</div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-4 text-end">
                      <strong>Total :</strong>
                    </div>
                    <div class="col-4">
                      <strong>{{order.get_cart_totall}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              {% if order %}
              <div>
                order status : {{ order.status }}
              </div>
              {% endif %}

              {% if order.status == 'Completed' %}
              <div>
                <a href="{% url 'Return'  order.id %}"> <button> Return </button> </a>
              </div>
              {% endif %}

              {% if order.status == 'Returned' %}
              <div style="color: red;" > 
                Order Returned
              </div>
              {% endif %}


            </div>
          </div>
        </div>

      </div>

    </div>
    {% if order.status != 'Returned' %}
    <input type="button" value="print invoice" onclick="printDiv()" class="ms-3" >
    {% endif %}   
    <!-- ./ content -->
    <script>

      function myFunction() {
        document.getElementById("btn").onclick = function () {
          //disable
          document.getElementById("btn").innerText = "Requested Cancellation"
          document.getElementById("btn").style.backgroundColor = 'Red';
          this.disabled = true;

        }
      }
    </script>





  </div>



  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              <a href="" class="navbar-brand">
                <span>
                  Minics
                </span>
              </a>
            </h5>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Address
            </p>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i>
              +01 1234567890
            </p>
            <p>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              demo@gmail.com
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
              Eligendi sunt, provident, debitis nemo, facilis cupiditate velit libero dolorum aperiam enim nulla iste
              maxime corrupti ad illo libero minus.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Link
            </h5>
            <ul>
              <li>
                <a href="{% url 'cosmic' %}">
                  Home
                </a>
              </li>
              <li>
                <a href="{% url 'cosmic' %}">
                  About
                </a>
              </li>
              <li>
                <a href="{% url 'cosmic' %}">
                  Products
                </a>
              </li>
              <li>
                <a href="{% url 'cosmic' %}">
                  Why Us
                </a>
              </li>
             
            </ul>
          </div>
        </div>
        <!-- <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="">
                <i class="fab fa-twitter-square"></i>
              </a>
              <a href="">

                <i class="fab fa-instagram"></i>
              </a>
              <a href="">

                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/"> django house </a>
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script
    src="https://www.paypal.com/sdk/js?client-id=AeS1O53pS0XIj2PQq6VCwSi4eTAhyFwrm04d-I8l8sYKaPdVOOFPq87afE5QgTGDQM6jd-K01_5Mu2p-&currency=USD"
    data-sdk-integration-source="button-factory"></script>


  <script>
    function printDiv() {
        var divContents = document.getElementById("GFG").innerHTML;
        var a = window.open('', '', 'height=500, width=500');
        a.document.write('<html>');
        a.document.write('<body > ');
        a.document.write(divContents);
        a.document.write('</body></html>');
        a.document.close();
        a.print();
    }
 </script>
  


  <!--///////////////////////////// this is for download print below //////////////-->
  <script src="{% static 'admin/js/html2pdf.bundle.js'%}"></script>
  <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
  <script>

    document.getElementById('topdf').onclick = function () {
      var element = document.getElementById('invoice_page');
      var date = new Date().toISOString().slice(0, 19);
      var opt = {
        margin: 1,
        filename: 'Invoice' + date + '.pdf',
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }

      }

      html2pdf(element, opt)

    };
  </script>

  <!--///////////////////////////// this is for download print above //////////////-->


  {% endblock %}