{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <div class="header_top">
      <div class="container-fluid">
        <div class="top_nav_container">
          <div class="contact_nav">
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +01 123455678990
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                Email : django@gmail.com
              </span>
            </a>
          </div>
          <!-- <form class="search_form">
            <input type="text" class="form-control" placeholder="Search here...">
            <button class="" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form> -->
          <div class="user_option_box">
            <a href="{% url 'logout' %}" class="account-link">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>
                logout
              </span>
            </a>
            <a href="{% url 'user_checkout' %}" class="cart-link">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span>
                Cart
              </span>
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="header_bottom">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'cosmic' %}">
            <span>
              COSMICS
            </span>
          </a>

          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button> -->

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'cosmic' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#about_section"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#why">Why Us</a>
              </li> -->
              <li class="nav-item">
                <!-- <a class="nav-link" href="testimonial.html">Testimonial</a> -->
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <!--cart section start here-->
  <div class="container my-5 ">
   


   
<h1 class="text-primary m-5" style="font-size: 25px;" > Wish List </h1>
<div class="container" >
<div class="row justify-content-between">
  {% for product in products %}
  <div class="col-sm-6 col-lg-4">
    <div class="box  m-3 p-3">
      <div class="img-box"  >
        <img style="width: 250px;height:225px" src="{{ product.image1.url }}"  alt="hello" >
        <a href="" class="add_cart_btn ">
          <button class="btn add_cart" data-product='{{ product.id }} ' style="margin-left:106px;"  add_cart_btn update-cart > <!--here the data-product is written in below script section-->
            Add To Cart
          </button>
        </a>
      </div>
     <a href="{% url 'buyNow' product.id %}">  <button class="btn btn-success "  style="margin-left: 35%;"  >Buy Now</button>  </a> 
      <div class="detail-box">
        <h5>
          <a href="{% url 'product_details' product.id %}" style="color: black;  " style="text-align: right;"  > {{ product.name }} </a>
        </h5>
        <div class="product_info "  >
          <h5>
            <span>₹</span>  <del> {{ product.price }} </del>  <br> <span>₹</span> {{ product.last_price }}
          </h5>
          <div class="star_container mb-5" style="text-align: end ;">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
           
          </div>
         
          <button class="position-absolute btn rounded-circle btn-light fav bg-light" style="margin-left: 146px; margin-top:-66px;" data-value="{{ product.id }}" id="fav{{ item.id }}">
            <i class="fas fa-heart text-danger bg-light"></i></button>
         
        </div>
      </div>
    </div>
  </div>
  {% endfor %}



</div>

</div>

    
  </div>



  

  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              <a href="" class="navbar-brand">
                <span>
                  Minics
                </span>
              </a>
            </h5>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Address
            </p>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i>
              +01 1234567890
            </p>
            <p>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              demo@gmail.com
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
              Eligendi sunt, provident, debitis nemo, facilis cupiditate velit libero dolorum aperiam enim nulla iste
              maxime corrupti ad illo libero minus.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Link
            </h5>
            <ul>
              <li>
                <a href="{% url 'cosmic' %}">
                  Home
                </a>
              </li>
              <li>
                <a href="{% url 'cosmic' %}">
                  About
                </a>
              </li>
              <li>
                <a href="{% url 'cosmic' %}">
                  Products
                </a>
              </li>
              <li>
                <a href="{% url 'cosmic' %}">
                  Why Us
                </a>
              </li>
             
            </ul>
          </div>
        </div>
        <!-- <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="">
                <i class="fab fa-twitter-square"></i>
              </a>
              <a href="">

                <i class="fab fa-instagram"></i>
              </a>
              <a href="">

                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/"> django house </a>
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=AeS1O53pS0XIj2PQq6VCwSi4eTAhyFwrm04d-I8l8sYKaPdVOOFPq87afE5QgTGDQM6jd-K01_5Mu2p-&currency=USD" data-sdk-integration-source="button-factory"></script>





  
  <script>

    $('.remove_from_wishlist').on('click',function (e) {
        var id = $(this).data('id')
  console.log(id)
        data = {
            'id':id,
        }
  var flag = 0
        Swal.fire({
            title: 'Are you sure?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Remove it!'
          }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/remove_from_wishlist",
                    data: data,
                    dataType:'json',
                    success:function(res){
          Swal.fire(
                            'Removed!',
                            'Product has been successfully removed.',
                            'success'
                        ).then((result) => {
            location.reload()

          })  
                    }
                })
      
                
            }
          })
        
    });
    $('.fav').click(function () {
      $.ajax({
          url: '{% url "wishList" %}',
          data: {
              product_id: $(this).data('value')
          },
          success: function (response) {
              location.reload()
          }
      })
  });
</script>



  {% endblock %}